/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}


body {
    background: #ffffff;
    color: #1a1a1a;
    scroll-behavior: smooth;
}

.blue { color: #0066ff; }

/* Navbar */
.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 100;
}

.navbar .logo {
    font-size: 22px;
    font-weight: 600;
    color: #0066ff;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0066ff;
}

/* Hero */
.hero {
    height: 100vh;
    padding-top: 120px;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
}

.tagline {
    font-size: 20px;
    margin-top: 10px;
}

.hero-buttons {
    margin-top: 25px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 5px;
}

.primary {
    background: #0066ff;
    color: white;
}

.secondary {
    border: 2px solid #0066ff;
    color: #0066ff;
}

/* Sections */
section {
    padding: 80px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: #0066ff;
}

/* About */
.about p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    line-height: 1.6;
}

/* Projects */


.project-card {
    gap: 25px; 
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background: white;
    transition: 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #0066ff;
}

.project-btn {
    display: inline-block;
    margin-top: 10px;
    color: #0066ff;
    font-weight: 500;
}

/* Skills */
.skills {
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;  
}

.skills-box {
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background: white;
    transition: 0.2s;
}


.skills-box:hover {
    transform: translateY(-5px);
    border-color: #0066ff;
}

/* Contact */
.contact {
    text-align: center;
}

.socials a {
    margin: 0 10px;
    color: #0066ff;
    text-decoration: none;
    font-weight: 500;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #f7f7f7;
    margin-top: 30px;
    color: #555;
}
